* {
    margin: 0;
}

.main-body {
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 600px;
}

.intro-text {
    font-family: sans-serif;
    margin: 20px 0;
    text-align: center;
}

.table {
    margin: 20px 0;
    width: 100%;
}

.item-in-table {
    margin: 20px 0;
}

.individual-item {
    display: flex;
    justify-content: space-between;
}

.button-container {
    width: 100%;
    margin: 0;
}

.button-section {
    width: 80px;
}

.button {
    border: 0;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 5px 10px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.button:hover {
    cursor: pointer;
    transition-property: background-color;
    background-color: #000000;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.toggle-button {
    background-color: green;
}

.edit-button {
    background-color: blue;
}